body {
    background-color: #282c34;
    /* background-color: white; */
}

table {
    /* border: 1px solid white; */
    padding: 10px;
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

li {
    text-decoration: none;
}

th {
    text-align: left;
    padding: 10px;
    /* border: 1px solid white; */
}

td {
    text-align: left;
    /* border: 1px solid white; */
    padding: 10px;
}

form {
    display: inline-block;
}

hr {
    background-color: #ABB2BF;
}
/*----------------Navbar----------------*/
.__container {
    color: #ABB2BF;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.__history-nav {
    grid-row: 1 / 1;
    grid-column: 1 / 13;
}

.__history-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px 0 10px 0;
}

.__history-nav li {
    display: inline;
    padding: 20px;
}

.__history-nav ul {
    font-size: 32px;
}

.__line1 {
    border-left: 2px solid #ABB2BF;
    display: inline;
}

/*---------------Budgets------------------- */
.__line2 {
    border-left: 1px solid #ABB2BF;
    grid-row: 2 / 7;
    grid-column: 3 / 3;
}

.__history-sidebar {
    padding: 0px;
    grid-row: 2 / 7;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.__history-sidebar div{ 
    width: 100%;
}

.__history-sidebar ul {
    text-align: left;
    padding: 0;
}

.__history-content {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.__history-content h2 {
    color: #2A99EA;
}

.__from-to-date p {
    display: inline;
}

.__history-table {
    grid-row: 2 / 7;
    /* height: 100%; */
    grid-column: 4 / 13;
    text-decoration: none;
    /* margin: 50px; */
    /* padding: 0 60px 0 40px; */
}

.__history-table table {
    padding: 0;
    table-layout: fixed;
}

.__sidebar-container {
    align-items: center;
}

.__sidebar-list {
    font-size: 20px;
    /* align-items: center; */
}

.__btn-primary {
    /* margin-bottom: 15px; */
    font-size: 25px;
    cursor: pointer;
}
/*---------------Transactions------------------- */
.__transaction-inputs {
    grid-row: 2 / 2;
    grid-column: 2 / 12;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
    display: inline-block;
}

.__transaction-form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}

.__transaction-headers {
    display: flex;
    /* grid-row: 2 / 3; */
    /* grid-column: 1 / 8; */
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.__history-nav-btn {
    text-decoration: none;
    color: #ABB2BF;
    list-style-type: none;
    padding: 0 10px 0 10px;
    font-size: 30px;
}

.__history-nav a.active {
    color: #2a9d8f;
}

.__history-nav a:hover {
    color: #2a9d8f;
    text-decoration: none;
}

.__filter-input {
    padding: 10px;
    width: 25%;
    background-color: #abb2bf4f;
    color: #ABB2BF;
}

::placeholder {
    color: #ABB2BF;
    font-weight: bold;
}

.__filter-btn {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background: linear-gradient(#fff, #2a9d8f);
    font-size: 20px;
    font-weight: bold;
}

.__budget-btn {
    border: none;
    background-color: #282c34;
    color: #ABB2BF;
    font-size: 18px;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

.__budget-btn:hover {
    color: #2a9d8f;
}

.__search-table {
    width: inherit;
    height: 25%;
    grid-row: 3 / 5;
    grid-column: 4 / 10;
    background-color: #abb2bf4f;
    color: #fff;
}

.__table-wrapper {
    grid-row: 4 / 6;
    grid-column: 4 / 10;
    width: 100%;
}

.__transactions-table {
    display: flex;
    text-decoration: none;
    padding: 0;
    table-layout: fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
